<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/background.css">
    <link rel="stylesheet" href="/1_view.css">
</head>
<body>
    <%- include("../partials/background.ejs") %>
    <form action="#">
        <div>
            <label for="aadhar_number">Aadhar Number</label>
            <input type="tel" name="aadhar_number" id="aadhar_number" minlength="14" maxlength="14" pattern="[0-9]{4} [0-9]{4} [0-9]{4}" required>
        </div>
        <div id="submit">
            <button>Submit</button>
        </div>
    </form>
    <script>
        const form = document.querySelector('form');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            const data = Object.fromEntries(formData);
            // console.log(data);
            const res = await fetch('/category1/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            const json = await res.json();
            console.log(json);
            if(json.err == '')
            {
                location.assign('/category1/delete');
            }
            else
            {
                document.querySelector('#error').innerHTML = json.err;
            }
        });
    </script>
</body>
</html>