<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/background.css">
    <link rel="stylesheet" href="/1_insert.css">
</head>

<body>
    <%- include("../partials/background.ejs") %>
    <form action="#">
        <div>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" placeholder="Enter The First Name" required>
        </div>
        <div>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" placeholder="Enter The First Name" required>
        </div>
        <div>
            <label for="date_of_visit">Date of Visit</label>
            <input type="date" id="date_of_visit" name="date_of_visit" required>
        </div>
        <div>
            <label for="ref_name">Reference Name</label>
            <input type="text" name="ref_name" id="ref_name" placeholder="Enter The Reference Name" required>
        </div>
        <div>
            <label for="birth_date">Birth Date</label>
            <input type="date" id="birth_date" name="birth_date" placeholder="Enter The Birth Date" required>
        </div>
        <div>
            <label for="aadhar_number">Aadhar Number</label>
            <input type="tel" name="aadhar_number" id="aadhar_number" placeholder="Formate: XXXX XXXX XXXX" minlength="14" maxlength="14" pattern="[0-9]{4} [0-9]{4} [0-9]{4}" required>
        </div>
        <div>
            <label for="address">Address</label>
            <textarea name="address" id="address" cols="30" rows="5" placeholder="Enter The Address"></textarea>
        </div>
        <div>
            <label for="mobile_number">Mobile Number</label>
            <input type="tel" name="mobile_number" id="mobile_number" placeholder="Formate: XXXXXXXXXX" minlength="10" maxlength="10" pattern="[0-9]{10}" required>
        </div>
        <div id="container">
            <label for="type_of_disabled">Type Of Disabled</label>
            <select name="type_of_disabled" id="type_of_disabled" required>
                <option value="Blindness(VI)">Blindness(VI)</option>
                <option value="Low-Vision(LV)">Low-Vision(LV)</option>
                <option value="Leprosy Cured Persons (LC)">Leprosy Cured Persons (LC)</option>
                <option value="Hearing Impairmenr (HI)">Hearing Impairmenr (HI)</option>
                <option value="Locomotor Disability (LD/OH)">Locomotor Disability (LD/OH)</option>
                <option value="Dwarfism">Dwarfism</option>
                <option value="Intellectual Disability (ID)">Intellectual Disability (ID)</option>
                <option value="Mental Illness (MI)">Mental Illness (MI)</option>
                <option value="Austin Spectrum Disorder">Austin Spectrum Disorder</option>
                <option value="Cerebral Palsy (CP)">Cerebral Palsy (CP)</option>
                <option value="Muscular Dystrophy">Muscular Dystrophy</option>
                <option value="Chronic Neurological Conditions">Chronic Neurological Conditions</option>
                <option value="Specific Learning Disabilities (LD)">Specific Learning Disabilities (LD)</option>
                <option value="Multiple Sclerosis">Multiple Sclerosis</option>
                <option value="Speech and Language Disability (SI/LI)">Speech and Language Disability (SI/LI)</option>
                <option value="Thalassemia">Thalassemia</option>
                <option value="Hemophilia">Hemophilia</option>
                <option value="Sickle Cell Disease">Sickle Cell Disease</option>
                <option value="Muliple Disabilities (MD)">Muliple Disabilities (MD)</option>
                <option value="Acid Attack Victims">Acid Attack Victims</option>
                <option value="Parkinson's Disease">Parkinson's Disease</option>
            </select>
        </div>
        <div>
            <label for="percentage_of_disabled">Percentage Of Disabled</label>
            <input type="number" name="percentage_of_disabled" id="percentage_of_disabled" placeholder="Formate: 12.34" min="0" max="100" step="0.01" required>
        </div>
        <label for="help" id="help_label">Details about Help</label>
        <div id="help_div">
        </div>
        <div style="margin-top: 0px;">
            <input type="button" value="+" id="add">
        </div>
        <div id="submit">
            <button>Submit</button>
        </div>
        <div id="error_div">
            <label id="error" style="color: red;"></label>
        </div>
        <div id="edit_div">
            <p id="edit"></p>
        </div>
    </form>
    <script>
        date_of_visit.max = new Date().toISOString().split("T")[0];
        birth_date.max = new Date().toISOString().split("T")[0];
        const form = document.querySelector('form');

        counter = 0;
        const add = document.querySelector('#add');
        add.addEventListener('click', () => {
            counter++;
            const help_div_inner = document.createElement('div');
            help_div_inner.innerHTML = `
            <div id = "help_div_${counter}">
                <div id="inner_help_container">
                    <label for="help${counter}">Help:</label>
                    <select name="help${counter}" id="help${counter}">
                        <option value="medical_certi">Medical Certificate</option>
                        <option value="bus_pass">Bus Pass</option>
                        <option value="equipment_help">Equipment Help</option>
                        <option value="pention">Pention</option>
                        <option value="sports">Sports</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div id="inner_date_container">
                    <label for="date_of_help${counter}">Date of Visit:</label>
                    <input type="date" id="date_of_help${counter}" name="date_of_help${counter}" required>
                </div>
                <div id="organization_container">
                    <label for="help${counter}_organization">Organization Name:</label>
                    <input type="text" name="help${counter}_organization" id="help${counter}_organization">
                </div>
            </div>
        `;
            const help_div = document.querySelector('#help_div');
            help_div.appendChild(help_div_inner);
        });

        let data;
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            data = Object.fromEntries(formData);
            // console.log(data);
            let temp = data;
            data = {
                first_name: temp.first_name,
                last_name: temp.last_name,
                date_of_visit: temp.date_of_visit,
                ref_name: temp.ref_name,
                birth_date: temp.birth_date,
                aadhar_number: temp.aadhar_number,
                address: temp.address,
                mobile_number: temp.mobile_number,
                type_of_disabled: temp.type_of_disabled,
                percentage_of_disabled: temp.percentage_of_disabled,
                help: []
            };

            for (let i = 1; i <= counter; i++) {
                data.help.push({
                    help: temp[`help${i}`],
                    help_organization: temp[`help${i}_organization`],
                    date_of_help: temp[`date_of_help${i}`]
                });
            }
            // data.help = JSON.stringify(data.help);
            // console.log(data);

            const res = await fetch('/category1/insert', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            const json = await res.json();
            // console.log(json);
            // location.assign('/');
            if (json.err == '') {
                location.assign('/category1/insert');
            }
            else {
                document.querySelector('#error').innerHTML = json.err;
                const edit_div = document.querySelector('#edit');
                edit_div.style.display = 'block';
                edit_div.innerHTML = `Click Here to Edit`;
            }
        });

        const edit = document.querySelector('#edit');
        edit.addEventListener('click', async (e) => {
            e.preventDefault();
            console.log("In the function");
            document.querySelector('#error').innerHTML = '';
            const edit_div = document.querySelector('#edit');
            edit_div.style.display = 'none';
            edit_div.innerHTML = '';

            const res = await fetch('/category1/edit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            const json = await res.json();
            // console.log(json);
            if(json.err == ''){
                const recv = (json.data)[0];
                // console.log(recv);
                document.querySelector('#first_name').value = recv.first_name;
                document.querySelector('#last_name').value = recv.last_name;
                document.querySelector('#date_of_visit').value = recv.date_of_visit;
                document.querySelector('#ref_name').value = recv.ref_name;
                document.querySelector('#birth_date').value = recv.birth_date;
                document.querySelector('#aadhar_number').value = recv.aadhar_number;
                document.querySelector('#address').value = recv.address;
                document.querySelector('#mobile_number').value = recv.mobile_number;
                document.querySelector('#type_of_disabled').value = recv.type_of_disabled;
                document.querySelector('#percentage_of_disabled').value = recv.percentage_of_disabled;
                const help_div = document.querySelector('#help_div');
                help_div.innerHTML = '';
                counter = 0;
                for(let i = 0; i < recv.help.length; i++){
                    counter++;
                    const help_div_inner = document.createElement('div');
                    help_div_inner.innerHTML = `
                    <div id = "help_div_${counter}">
                        <div id="inner_help_container">
                            <label for="help${counter}">Help:</label>
                            <select name="help${counter}" id="help${counter}">
                                <option value="medical_certi">Medical Certificate</option>
                                <option value="bus_pass">Bus Pass</option>
                                <option value="equipment_help">Equipment Help</option>
                                <option value="pention">Pention</option>
                                <option value="sports">Sports</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div id="inner_date_container">
                            <label for="date_of_help${counter}">Date of Visit:</label>
                            <input type="date" id="date_of_help${counter}" name="date_of_help${counter}" required>
                        </div>
                        <div id="organization_container">
                            <label for="help${counter}_organization">Organization Name:</label>
                            <input type="text" name="help${counter}_organization" id="help${counter}_organization">
                        </div>
                    </div>
                `;
                    help_div.appendChild(help_div_inner);
                    document.querySelector(`#help${counter}`).value = recv.help[i].help;
                    document.querySelector(`#date_of_help${counter}`).value = recv.help[i].date_of_help;
                    document.querySelector(`#help${counter}_organization`).value = recv.help[i].help_organization;
                }
            }
            else
            {
                document.querySelector('#error').innerHTML = json.err;
                const edit_div = document.querySelector('#edit');
                edit_div.style.display = 'block';
                edit_div.innerHTML = `Click Here to Edit`;
            }
        });
    </script>
</body>

</html>